<style>
    .dedupit-action .accordion, .dedupit-action .controls-section {

        margin: 10px !important;
    }

    .dedupit-action .accordion-heading {
        padding: 0px !important;
        min-height: 0px !important;
        background-color: #ebebeb;
    }

    .dedupit-action .accordion-heading .accordion-toggle {
        display: inline-block !important;
    }

    .dedupit-action .accordion-heading .btn-merge-selected {
        margin: 8px 15px;
    }

    .dedupit-action .accordion-inner {
        padding: 5px;
        border: 0px !important;
    }

    .dedupit-action .accordion-inner {
        border: 3px solid #ebebeb !important;
    }

    .dedupit-action .accordion-group {
        margin-top: 5px;
    }

    .dedupit-action .duplicate-rows > div {
        padding: 10px 5px;
        background-color: #fafafa;
    }

    .dedupit-action .duplicate-rows:not(:first-child) {
        margin-top: 5px;
    }

    /*revert checkbox class back to default bootstrap*/
    .dedupit-action .checkbox input[type="checkbox"] {
        float: left !important;
    }

    .dedupit-action .controls-section {

    }

    .dedupit-action .header-logo > img {
        width: 110px;
        margin: 5px 10px 0 0;
    }

    /*loader*/
    .et-loader {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -17.5px;
        margin-top: -17.5px;
        background-size: contain;
        height: 35px;
        width: 35px;
        animation: elastic-rotation 1.33s cubic-bezier(0.68, -0.55, 0.265, 1.55) infinite;
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url('modules/ET_DuplicateFinderProcess/images/eontek_logo_no_text_350x350.png');
    }

    @keyframes elastic-rotation {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }

    /*loader*/

</style>
<div class="row-fluid">
    <div class="span12">
        {{#if loader}}
            <div class="span12">
                <div class="text-center">
                    <br>
                    <span class="et-loader"></span>
                    <br>
                </div>
            </div>
        {{else}}

            {{#if processes.error}}
                <h5 class="lead">{{str processes.msg 'ET_DuplicateFinderProcess'}}</h5>
            {{else}}
                <div class="row-fluid ">
                    <div class="span12">
                        <div class="controls-section">
                            <button class="btn check-for-duplicates">Check for Duplicates</button>
                        </div>
                    </div>
                </div>
                <div class="accordion" id="process_accordion">
                    {{#each processes}}
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle collapsed" data-toggle="collapse"
                                   data-parent="#process_accordion" href="#{{this.process.id}}">
                                    <strong>{{this.process.name}}</strong>
                                </a>
                                <span>Duplicates found: <strong>{{this.duplicates.length}}</strong></span>
                                <button class="btn btn-success btn-merge-selected pull-right hidden"
                                        data-process-id="{{this.process.id}}">Merge Selected
                                </button>
                            </div>
                            <div id="{{this.process.id}}" class="accordion-body collapse">
                                <div class="accordion-inner">
                                    {{#if this.duplicates.error}}
                                        <h5 class="lead">{{str this.duplicates.msg 'ET_DuplicateFinderProcess'}}</h5>
                                    {{else}}
                                        {{#each this.duplicates}}

                                            {{#if this.error}}
                                                <div class="row-fluid duplicate-rows">
                                                    <div class="span12">
                                                        <strong>{{str this.msg 'ET_DuplicateFinderProcess'}}</strong>
                                                    </div>
                                                </div>
                                            {{else}}
                                                <div class="row-fluid duplicate-rows">
                                                    <div class="span12">
                                                        <label class="checkbox inline"
                                                               for="{{../../this.process.id}}-{{this.id}}">
                                                            <input class="duplicate-checkbox" type="checkbox"
                                                                   id="{{../../this.process.id}}-{{this.id}}"
                                                                   value="{{this.id}}"
                                                                   name="{{../../this.process.id}}"/>
                                                            <strong>{{this.name}}</strong>
                                                        </label>
                                                        <div class="pull-right">
                                                            <button class="btn et-preview-duplicate"
                                                                    data-duplicate-id="{{this.id}}">
                                                                Preview
                                                            </button>
                                                            <button class="btn btn-merge"
                                                                    data-duplicate-id="{{this.id}}">Merge
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            {{/if}}
                                        {{/each}}
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </div>
            {{/if}}
        {{/if}}
    </div>
</div>

{{#unless loader}}

    {{#unless processes.error}}

        <!--footer-->
        <div class="row-fluid" style="border-top: 1px solid #E9E9E9">

            <div class="span12">

                <a href="https://eontek.co" target="_blank" class="pull-right" style="padding-right: 11px">
                    <img src="modules/ET_DuplicateFinderProcess/images/eontek_logo_text_150x30.png"
                         alt="Eontek"
                         style="padding-top: 7px; height: 14px">
                </a>

            </div>
        </div>

    {{/unless}}

{{/unless}}